body {
    width: 1170px;
    margin: 0 auto;
    background: url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} 
 * img {
     border-radius: 8px;
 }
/*#main {
    padding: 5px;
}*/



/*divAbsolute*/
#divAbsolute {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 150px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
}
#btn {
    position: absolute;
    top: 600px;
    right: 65px;
}
#divAbsolute #image{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 300px;
    box-shadow: 5px 5px 5px #222;
}
#newP {
    display: inline-block;
    padding: 20px 20px;;
    font-size: 1.1em;
}


#scroller5 {
    position: absolute;
    top: 60px;
    left: 370px;
    width: 11em;
    min-height: 13em;
    margin-left: 10px;
    background:url("images/jsImg1.jpg") fixed;
   -webkit-background-size: 260px;
   -moz-background-size: 260px;
   -o-background-size: 260px;
    background-size: 260px;
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:200s scroll infinite linear;
}
#scroller6 {
    position: absolute;
    top: 60px;
    left: 552px;
    width: 11em;
    min-height: 13em;
    margin-left: 10px;
    background:url("images/jsImg2.jpg") fixed;
   -webkit-background-size: 230px;
   -moz-background-size: 230px;
   -o-background-size: 230px;
    background-size: 230px;
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:200s scroll infinite linear;
}
#scroller7 {
    position: absolute;
    top: 61px;
    left: 720px;
    width: 11em;
    min-height: 13em;
    background:url("images/jsImg3.jpg") fixed;
   -webkit-background-size: 220px;
   -moz-background-size: 220px;
   -o-background-size: 220px;
    background-size: 220px; 
    margin-left: 24px;
   -webkit-animation:100s scroll infinite linear;
   -moz-animation:100s scroll infinite linear;
   -o-animation:100s scroll infinite linear;
   -ms-animation:100s scroll infinite linear;
    animation:200s scroll infinite linear;
}




section {  
    width: 70%;
    float: left; 
    font-size: 1.1em;
    background: url("images/section6.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.backTitles {
    background: url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}

#wrapper {
    width: 100%;
    display: inline-block;
    padding: 20px 0px;
}
.news {
   width: 50%;
   float: left;
   padding: 10px;
   position: relative;
   box-sizing: border-box;
   text-align: center;
}
.dot {
   width: 300px;
   border-bottom: 1px dotted burlywood;
   padding-bottom: 18px;
}
.wrapDiv {
    /*display: block;*/
    width: 250px;
    height: 53px;
    padding-bottom: 5px;
    padding-right: 11px;
}
.wrapDiv span {
    color: sandybrown;
    font-size: 1.1em;
    display: block;
    padding-top: 6px;
}
.titleNews {
    display: block;
    position: absolute;
    top: 190px;
    left: 110.8px;
    background: url("images/section6.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.news .dottedBorder {
    display: inline-block;
    /*width: 200px;*/
    border-bottom: 1px dotted burlywood;
    padding: 15px 0;
}


/*hover effects over news images*/
.newsEffects {
    display: inline-block;
    width: 17.05em;
    height: 11.8em;
    padding: 0px 5px 0px 5px;
    transition: all .2s ease-in-out;
}
.newsEffects img {
    width: 100%;
    height: 100%;
}
.newsEffects:hover  {
    transform: scale(1.1); 
}



/*aside*/
#banner {
    display: block;
    float: right;
    width: 25%;
}

/*.wrap-aside {
   width: 100%;
   background-color: palegreen;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
}*/
#banner2{
   display: block;
   width: 100%;
   height: 3887px;
   background:url("images/advert2017.png") fixed;
   -webkit-background-size: 320px;
   -moz-background-size: 320px;
   -o-background-size: 320px;
   background-size: 319px;
   -webkit-animation:100s scroll infinite linear;
   -moz-animation:100s scroll infinite linear;
   -o-animation:100s scroll infinite linear;
   -ms-animation:100s scroll infinite linear;
   animation:100s scroll infinite linear;
   top:0;
   left:0;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}



@media only screen and (max-width: 1024px) {
     section {
         width: 100%;
     }
     .news {
         width: 20%;
         float: left;
         padding: 0;
         margin: 0;
     }
     .dot {
         display: none;
     }
     #banner {
         display: none;
     }
     .newsEffects {
         width: 150px;
         height: 120px;
         float: left;
     }
     .wrapDiv {
        display: none;
     }
     .subtitleNews {
         display: none;
     }
     .titleNews, .titleNews10  {
         display: none;
     }
}



/*redaction*/
#redaction {
    width: 70%;
    background-color: tan;
    /*padding-top: 20px;*/
    background: url("images/section4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;
}
#arrow {
    padding: 10px;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
}
.roundedPic {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 10px;
}
.roundedPic span {
    color: #330000;
}
.roundedPic span:hover {
    color: darkred;
} 
#redaction .effects {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid red;
}
#arrow {
    display: inline-block;
    font-size: 2em;
}
#arrow img {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
}
#span2016 {
    display: block;
}
/*#divForAbsDiv {
    position: absolute;
}*/
#contHoverDiv1 {
    width: 800px;
    height: 370px;
    position: relative;
    top: 10px;
    left: 205px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
    line-height: 1.2em;
}
#contHoverDiv2 {
    width: 800px;
    height: 370px;
    position: relative;
    top: 10px;
    left: 407px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
    line-height: 1.2em;
}
#contHoverDiv3 {
    width: 650px;
    height: 370px;
    position: relative;
    top: 10px;
    left: 608px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
    line-height: 1.2em;
}
#contHoverDiv4 {
    width: 700px;
    height: 370px;
    position: relative;
    top: 10px;
    right: 80px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
    line-height: 1.2em;
}


#contHoverDiv1 .p1 {
    display: block;
    position: absolute;
    top: 10px;
    font-size: 1.4em;
    text-align: center;
}
#contHoverDiv1 .p2 {
    display: block;
    position: absolute;
    top: 80px;
    font-size: 0.9em;
    text-align: left;
    padding: 0px 10px 5px 10px;
}

#contHoverDiv2 .p1 {
    display: block;
    position: absolute;
    top: 10px;
    font-size: 1.4em;
    text-align: center;
}
#contHoverDiv2 .p2 {
    display: block;
    position: absolute;
    top: 60px;
    font-size: 0.9em;
    text-align: left;
    padding: 0px 10px 5px 10px;
}

#contHoverDiv3 .p1 {
    display: block;
    position: absolute;
    top: 10px;
    font-size: 1.4em;
    text-align: center;
}
#contHoverDiv3 .p2 {
    display: block;
    position: absolute;
    top: 60px;
    font-size: 0.9em;
    text-align: left;
    padding: 0px 10px 5px 10px;
}

#contHoverDiv4 .p1 {
    display: block;
    position: absolute;
    top: 10px;
    font-size: 1.4em;
    text-align: center;
}
#contHoverDiv4 .p2 {
    display: block;
    position: absolute;
    top: 60px;
    font-size: 0.9em;
    text-align: left;
    padding: 0px 10px 5px 10px;
}




/*hover effects over rounded images*/
.effects {
    display: inline-block;
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
    text-indent:-9999px;
}
.effects:hover {
    background-size: 130% 130%;
}
.roundedPic .a {
    background-image: url("images/images1.jpg");
}
.roundedPic .b {
    background-image: url("images/images2.jpg");
}
.roundedPic .c {
    background-image: url("images/images3.jpg");
}
.roundedPic .d {
    background-image: url("images/images4.jpg");
}




/*third part images with JS - FREE TIME*/
#cookingBooks {
    background: url("images/section1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wrapImgJS {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0;
}
.pics {
    display: block;
    float: left;
    width: 35%;
}
#cook {
    font-size: 2.2em;
    padding: 15px;
}
#scroller {
    width: 15em;
    height: 18em;
    background-image:url("images/jsImg1.jpg");
    background-size: 400px; 
    margin-left: 10px;
}
#scroller2 {
    width: 15em;
    height: 18em;
    background-image:url("images/jsImg2.jpg"); 
    background-size: 300px; 
}
#scroller3 {
    width: 12em;
    height: 8.72em;
    background-image:url("images/newPic.jpg"); 
    background-size: 212px; 
    margin-left: 24px;
   
}
#scroller4 {
    width: 12em;
    height: 8.72em;
    background-image:url("images/jsImg4.jpg"); 
    background-size: 212px; 
    margin-top: 10px;
    margin-left: 24px;
}
.text {
    display: block;
    /*padding-top: 50px;*/
    width: 90%;
    /*height: 50%;*/
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px  darkslategrey;
}
.text:hover {
    color: darkslategrey;
    text-shadow: 1px 1px  black;
}

#asideDiv {
    display: block;
    float: left;
    /*background-color: orangered;*/
    width: 13.5em;
    height: 18em;
}




/*VIEDOS*/
#videos {
    /*padding-top: 10px;*/
    width: 100%;
}
.videosChild {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 30px 0;
    /*border-bottom: 3px double grey;*/
    box-sizing: border-box;
}
.videosChild iframe {
    border: 3px double grey;
    padding: 2px;
}

/*slideShow*/
#childrenBook {
    background-color: sandybrown;
    /*padding-top: 20px;*/
}
#slideShow {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}
.mySlides img {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center; 
}
.mySlides p {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 0.5px 0.5px blueviolet;
}
.mySlides p:hover {
    color: #ff01f2;
}
#btns {
    position: relative;
    width: 100%;
}
#button-left {
    position: absolute;
    bottom: 170px;
    left: 0px;
}
#button-right {
    position: absolute;
    bottom: 170px;
    right: 0px;
}
#childrensTime {
    font-size: 2em;
    padding: 15px;
}


/*Popular books of the week*/
#mostPopularChildrensBooks {
    font-size: 2.0em;
    margin-top: 20px;
    padding: 15px 0;
    background: url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
#weekBooks {
    width: 100%;
    box-sizing: border-box;
    background: url("images/section2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.popularWeekBook .centerA {
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}
.centerA img {
    padding-top: 15px;
    width: 145.75px;
    height: 220px;
    text-align: center; 
}
.centerA p {
    display: block;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
.centerA p:hover {
    cursor: pointer;
    color: orangered;
}
.makeItalic {
    display: inline-block;
    font-style: italic;
    color: darkred;
    padding-bottom: 15px;
    text-shadow: 1px 1px black;
}
/*.popularWeekBook {
    display: inline-block;
}*/

/*DIVABSOLUTE2*/
/*#needed {
    position: absolute;
}*/
#divAbsolute2 {
    width: 900px;;
    height: 550px;
    position: absolute;
    top: 3000px;
    left: 150px;
    background: url("images/backAbsolute.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    box-sizing: border-box;
    border: 6px double black;
    z-index: 102;
}
#btn2 {
    position: absolute;
    top: 500px;
    right: 65px;
}
#image2{
    display: block;
    float: left;
    margin: 10px 15px 5px 10px;
    width: 280px;
    height: 300px;
    box-shadow: 5px 5px 5px #222;
}
#newP1 {
    display: block;
    /*float: left;*/
    padding: 20px 0;
    text-align: center;
}
#newP2 {
    display: block;
    text-align: left;
    /*margin-left: 155px;*/
    /*padding: 0px 40px;*/
}



/*FOOTER*/
/*#thumb {
    display: inline-block;
}*/
footer {
    display: inline-block;
    width: 70%;
    /*border: 1px solid green;*/
}
#footer1 {
    width: 100%;
    /*position: relative;*/
    display: inline-block;
    /*margin-bottom: 100px;*/

}
.footer1Div {
    display: block;
    float: left;
    width: 33.33%;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

/*thumbnail*/
#thumb {
    position: relative;
    width: 100%;
    background: url("images/section1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thumbnail1, .thumbnail2, .thumbnail3 {
    width: 80px;
    height: 80px;
    float: left;
    padding-right: 7px;
    /*position: absolute;
    bottom: 50px;
    right: 10px;*/
}
.textThumb {
    color: palegoldenrod;
    /*text-shadow:*/
    /*padding-left: 5px;*/
}
.titleThumb {
    display: block;
    padding-bottom: 14px;
    color: palegoldenrod;
    /*text-transform: uppercase;*/
}
.arrowThumb {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
    
}
#details1 {
    position: absolute;
    bottom: 40px;
    left: 102px;
}
#details2 {
    position: absolute;
    bottom: 40px;
    left: 374px;
}
#details3 {
    position: absolute;
    bottom: 40px;
    right: -78px;
}
#details1 img {
    width: 250px;
}
#details2 img {
    width: 250px;
}
#details3 img {
    width: 250px;
}


/*middle footer*/
#middleSection {
    width: 100%;
    padding: 20px 0;
    background: url("images/section1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#middleFooterWrap {
    display: block;
    /*border: 1px solid black;*/
    text-align: center;
}
.middleFooter {
    display:inline-block;
    padding: 5px;
    
}
.middleFooter img{
    display: block;
    width: 100%;
    float: left;
    width: 70px;
    height: 70px; 
    border-radius: 50%;
}




/*LASTFOOTER*/
#lastFooter {
    width: 100%;
    padding: 20px 0;
    background: url("images/section6.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#lastDivFooter {
    width: 80%;
}
#lastFooterWrap, #verticalLine {
    display: block;
    float: right;
    width: 80%;
    padding-bottom: 5px;
}
#lastFooterWrap span, a{
    padding: 0 5px;
}

#verticalLine a{
    border-left: thick solid firebrick;
    border-width: 2px;
    color: white;
    height: 5px;
    text-shadow: 1px 1px black;
    font-size: 0.8em;
}
#logoName a {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 0.8em;
}
#verticalLine a:first-child {
    border-left: none;
}
/*logo*/
#logoPNG {
    width: 10%;
    padding-left: 35px;
}
#logoPNG img {
   display: block;
   float: left;
   width: 70px;
   height: 70px;
}