body {
    width: 1170px;
    margin: 0 auto;
    background-color: navajowhite;
} 

/*#main {
    padding: 5px;
}*/
section {  
    width: 70%;
    float: left; 
    font-size: 1.1em;
}

#wrapper {
    width: 100%;
    /*border: 2px solid black;*/
    background-color: rosybrown;
    display: inline-block;
    padding: 20px 0px;
}
.news {
   width: 50%;
   float: left;
   padding: 10px;
   position: relative;
   box-sizing: border-box;
   text-align: center;
}
.dot {
   width: 308px;
   border-bottom: 1px dotted black;
   padding-bottom: 18px;
}
.wrapDiv {
    /*display: block;*/
    width: 250px;
    height: 50px;
}
.titleNews {
    display: block;
    position: absolute;
    top: 190px;
    left: 110.8px;
    background-color: rosybrown;
}
.titleNews a {
    display: block;
    padding-bottom: 5px;
}
.titleNews10 {
    position: absolute;
    top: 190px;
    left: 109.6px;
    background-color: rosybrown;
}
.news .dottedBorder {
    display: inline-block;
    width: 308px;
    border-bottom: 1px dotted black;
    padding: 15px 0;
}







/*hover effects over news images*/
.newsEffects {
    display: inline-block;
    width: 17.05em;
    height: 11.8em;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
}

.newsEffects:hover  {
    background-size: 130% 130%;
}
.pic1 {
    background-image: url("images/img1.jpg");
}
.pic2 {
    background-image: url("images/img2.jpg");
}
.pic3 {
    background-image: url("images/img3.jpg");
}
.pic4 {
    background-image: url("images/img4.jpg");
}
.pic5 {
    background-image: url("images/img5.jpg");
}
.pic6 {
    background-image: url("images/img6.jpg");
}
.pic7 {
    background-image: url("images/img7.jpg");
}
.pic8 {
    background-image: url("images/img8.jpg");
}
.pic9 {
    background-image: url("images/img9.jpg");
}
.pic10 {
    background-image: url("images/img10.jpg");
}

/*aside*/
aside {
    width: 25%;
    float: right;
}
.wrap-aside {
   width: 100%;
   /*border: 2px solid black;*/
   background-color: palegreen;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
}


@media only screen and (max-width: 1024px) {
     section {
         width: 100%;
     }
     .news {
         width: 20%;
         float: left;
         padding: 0;
         margin: 0;
     }
     .dot {
         display: none;
     }
     #banner {
         display: none;
     }
     .newsEffects {
         width: 150px;
         height: 120px;
         float: left;
     }
     .wrapDiv {
        display: none;
     }
     .subtitleNews {
         display: none;
     }
     .titleNews, .titleNews10  {
         display: none;
     }
     

}




/*redaction*/
#redaction {
    width: 70%;
    background-color: tan;
    margin: 20px 0px;
}
#arrow {
    padding: 10px;
    text-transform: uppercase;
}
.roundedPic {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
#redaction .effects {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid red;
}
#arrow {
    display: inline-block;
}
#arrow img {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
}
#span2016 {
    display: block;
}

/*hover effects over rounded images*/
.effects {
    display: inline-block;
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
    text-indent:-9999px;
}
.effects:hover {
    background-size: 130% 130%;
}
.a {
    background-image: url("images/images1.jpg");
}
.b {
    background-image: url("images/images2.jpg");
}
.c {
    background-image: url("images/images3.jpg");
}
.d {
    background-image: url("images/images4.jpg");
}




/*third part images with JS - FREE TIME*/
#cookingBooks {
    background-color: mediumaquamarine;
}
#wrapImgJS {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.pics {
    display: block;
    float: left;
    width: 35%;
  
}
#cook {
    font-size: 2em;
    padding: 10px;
}
#scroller {
    width: 15em;
    height: 18em;
    background-image:url("images/jsImg1.jpg");
    background-size: 400px; 
    margin-left: 10px;
}
#scroller2 {
    width: 15em;
    height: 18em;
    background-image:url("images/jsImg2.jpg"); 
    background-size: 300px; 
}
#scroller3 {
    width: 12em;
    height: 8.72em;
    background-image:url("images/jsImg3.jpg"); 
    background-size: 212px; 
    margin-left: 24px;
   
}
#scroller4 {
    width: 12em;
    height: 8.72em;
    background-image:url("images/jsImg4.jpg"); 
    background-size: 212px; 
    margin-top: 10px;
    margin-left: 24px;
}
.text {
    display: block;
    width: 90%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

#asideDiv {
    display: block;
    float: left;
    /*background-color: orangered;*/
    width: 13.5em;
    height: 18em;
}



/*VIDOS*/
#videos {
    padding-top: 10px;
    width: 100%;
}
.videosChild {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

/*slideShow*/
#childrenBook {
    background-color: sandybrown;
    margin-top: 20px;
}
#slideShow {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}
.mySlides img {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center; 
}
.mySlides p {
    text-align: center;
    padding: 5px;
}
#btns {
    position: relative;
    width: 100%;
}
#button-left {
    position: absolute;
    bottom: 140px;
    left: 0px;
}
#button-right {
    position: absolute;
    bottom: 140px;
    right: 0px;
}
#childrensTime {
    font-size: 2em;
    padding-bottom: 10px;
}


/*Popular books of the week*/
#mostPopularChildrensBooks {
    font-size: 1.5em;
    padding: 10px 0;
}
#weekBooks {
    width: 100%;
    box-sizing: border-box;
}

.popularWeekBook .centerA {
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}
.centerA img {
    width: 145.75px;
    height: 220px;
    text-align: center; 
}
.centerA a {
    display: block;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
}
.makeItalic {
    font-style: italic;
    color: firebrick;
}



/*FOOTER*/
/*#thumb {
    display: inline-block;
}*/
#footer1 {
    width: 100%;
    /*position: relative;*/
    display: inline-block;
    /*margin-bottom: 100px;*/
    border: 1px solid black;
}
.footer1Div {
    display: block;
    float: left;
    width: 33.33%;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

/*thumbnail*/
#thumb {
    position: relative;
}

.thumbnail1, .thumbnail2, .thumbnail3 {
    width: 80px;
    height: 80px;
    float: left;
    padding-right: 7px;
    /*position: absolute;
    bottom: 50px;
    right: 10px;*/
}
/*.textThumb {
    padding-left: 5px;
}*/
.titleThumb {
    display: block;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.arrowThumb {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
}
#details1 {
    position: absolute;
    bottom: 40px;
    left: 102px;
}
#details2 {
    position: absolute;
    bottom: 40px;
    left: 374px;
}
#details3 {
    position: absolute;
    bottom: 40px;
    right: -78px;
}
#details1 img {
    width: 250px;
}
#details2 img {
    width: 250px;
}
#details3 img {
    width: 250px;
}


/*middle footer*/
#middleFooterWrap {
    width: 100%;
    display: block;
    border: 1px solid black;
    text-align: center;
}
.middleFooter {
    display:inline-block;
    padding: 5px;
    
}
.middleFooter img{
    display: block;
    width: 100%;
    float: left;
    width: 70px;
    height: 70px; 
    border-radius: 50%;
}
