body {
    width: 1170px;
    margin: 0 auto;
    background-color: navajowhite;
} 

/*#main {
    padding: 5px;
}*/
section {  
    width: 70%;
    float: left; 
}
#wrapper {
    width: 100%;
    border: 2px solid black;
    background-color: hotpink;
    display: inline-block;
}
.news {
   width: 50%;
   float: left;
   padding: 10px;
   position: relative;
   box-sizing: border-box;
   text-align: center;
}
.dot {
   width: 308px;
   border-bottom: 1px dotted black;
   padding-bottom: 18px;
}
.titleNews {
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: white;
}
.titleNews10 {
    position: absolute;
    top: 185px;
    left: 195px;
    background-color: white;
}
.news .dottedBorder {
    display: inline-block;
    width: 308px;
    border-bottom: 1px dotted black;
    padding: 15px 0;
}


/*hover effects over news images*/
.newsEffects {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
}

.newsEffects:hover  {
    background-size: 130% 130%;
}
.pic1 {
    background-image: url("images/index.jpg");
}
.pic2 {
    background-image: url("images/index3.jpg");
}
.pic3 {
    background-image: url("images/index3.jpg");
}
.pic4 {
    background-image: url("images/index3.jpg");
}
.pic5 {
    background-image: url("images/index3.jpg");
}
.pic6 {
    background-image: url("images/index3.jpg");
}
.pic7 {
    background-image: url("images/index3.jpg");
}
.pic8 {
    background-image: url("images/index3.jpg");
}
.pic9 {
    background-image: url("images/index3.jpg");
}
.pic10 {
    background-image: url("images/index3.jpg");
}

/*aside*/
aside {
    width: 25%;
    float: right;
}
.wrap-aside {
   width: 100%;
   border: 2px solid black;
   background-color: lawngreen;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
}





/*redaction*/
#redaction {
    width: 70%;
    background-color: turquoise;
}
#redaction h2, span {
    padding: 10px;
}
.roundedPic {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
#redaction .effects {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid red;
}


/*hover effects over rounded images*/
.effects {
    display: inline-block;
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
    text-indent:-9999px;
}
.effects:hover {
    background-size: 130% 130%;
}
.a {
    background-image: url("images/index.jpg");
}
.b {
    background-image: url("images/index2.jpg");
}
.c {
    background-image: url("images/index3.jpg");
}
.d {
    background-image: url("images/index4.jpg");
}
